In [20]:
from sklearn import tree

import pandas as pd

import numpy as nm

import matplotlib.pyplot as plt

import seaborn as sns

import sklearn

print(sklearn.__version__)

from sklearn.model_selection import train_test_split

0.23.2

In [4]:
df_tr = pd.read_csv('dogs_n_cats.csv')

In [9]:
df_tr.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [13]:
X = df_tr.drop(['Вид'], axis=1)

y = df_tr['Вид']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [23]:
clf = tree.DecisionTreeClassifier()

In [24]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [30]:
df_ts = pd.read_json(r'data2.txt')

In [31]:
X_ts = df_ts[['Длина', 'Высота', 'Шерстист', 'Гавкает','Лазает по деревьям']]
result = clf.predict(X_ts)

pd.Series(result)[result == 'собачка'].count()

49