In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("algae.csv")

In [3]:
df.head(5)

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

In [15]:
df.groupby("genus")["alanin"].min()

genus
Ascophyllum    0.875429
Cladophora     1.648450
Fucus          0.346431
Palmaria       3.176440
Saccharina     1.255251
Name: alanin, dtype: float64

In [11]:
df.groupby("genus")["alanin"].mean()

genus
Ascophyllum    0.875429
Cladophora     3.997055
Fucus          3.566411
Palmaria       3.176440
Saccharina     3.524207
Name: alanin, dtype: float64

In [12]:
df.groupby("genus")["alanin"].max()

genus
Ascophyllum    0.875429
Cladophora     6.881024
Fucus          6.641303
Palmaria       3.176440
Saccharina     5.793163
Name: alanin, dtype: float64